DJANGO_SETTINGS_MODULE=core.settings.developer
SECRET_KEY=django-insecure-ng83@%wn=ig62x6+@$rj@8vma5%z!a-e^r4)!jy@z(6&r-5_c9
DEBUG=True
ALLOWED_HOSTS=localhost,
CORS_ALLOWED_ORIGINS=http://localhost:3000
DATABASE_URL=postgres://postgres:postgres@localhost:5432/postgres